//Para los estilos del encabezado
header {
    background: #ecb3b3;
    padding: 20px 0;
    border-bottom: 1px solid #f39e9e;

    .navbar {
        .navbar-brand img {
            width: 150px;
        }
    }
}